body {
    background-color: rgb(48, 48, 48);
}

.main_window{
    display: flex;
    flex-direction: column;
    background-color: rgb(150, 150, 150);
    align-items: center;
    margin: auto;
    width: 50%;
    margin-top: 10%;
    width: 300pt;
    border-radius: 10pt;
    padding: 20pt;
}

.row {
    display: flex;
    flex-direction: row;
}

.row button {
    width: 60pt;
    height: 40pt;
    font-size: 15pt;
    margin: 1pt;
}

.row input {
    border: 1pt;
    border-color: black;
    border-style: solid;
    background-color: rgb(233, 233, 233);
    width: 241pt;
    height: 40pt;
    margin-bottom: 1pt;
    text-align: right;
    font-size: 15pt;
}

#equal {
    width: 122pt;
    height: 40pt;
    font-size: 15pt;
}

#equal {
    background-color: rgb(45, 178, 255);
}